html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    /* background-color: #e8e3d3; */
    height: 100%;
    background-color: #e8e3d3;
    /* background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/little-pluses.png"); */
    background-image: url("./little-pluses.png");
}

.wrap {
    width: 80%;
    margin: 0 auto;
    background-color: #f4f4f4;
    /* border-left: 5px solid #e8e3d3; */
    /* border-right: 5px solid #e8e3d3; */
    position: relative;
    height: 100%;
}

.inner-wrap {
    padding: 2rem 3rem 0;
}

.header {
    position: relative;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    background-color: #4b2e83;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 2rem;
}

.blog-header {
    font-size: 2rem;
    font-weight: bold
}

.blog-entry {
    padding-left: 2rem;
    font-size: 1.3rem;
}

.horizontal-divider {
    width: 100%;
    margin: 0 auto;
    height: 2px;
    border-radius: 2px;
    background-color: #c0b283;
    margin: 1rem 0;
}

.navbar {
    text-align: center;
    float: right;
    font-size: 1rem;
    font-weight: normal;
    vertical-align: middle;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.navbar-entry {
    display: inline-block;
    padding: 0 1rem;
    color: #ffffff;
    text-decoration: none;
}

.navbar-entry:hover {
    text-decoration: underline;
}